body {
    background-image: url(file:///C:/Users/thegh/Coding-Homework/Assignment4/unit-4-game/assets/images/background.jpg);
    font-family: Georgia, serif;;
    margin: 20px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    padding: 30px 5px 30px 5px;
    width: 360px;
    margin-bottom: 20px;
}

#instructions {
    color: green;
    font-weight: bold;
    background-color: gold;
    width: 1000px;
    padding: 1px 5px 1px 5px;
}

.instructionText {
    margin: 30px 5px 30px 5px;
}